body{background-image:linear-gradient(to left,yellow,black,black);}
.h1{text-align: center;
font-size: xx-large;
color: aliceblue;
margin: 10%;}
.h2{color: aliceblue;
font-size: medium;}
.h3{color: aliceblue;
font-size: x-large;}
.H4{background-color: black;}
.h5{margin: 10%;}
.hi{background-color: black;}
