.main {
    height: 100%;
    width: 100%;
    position: relative;
}


.nav {
    height: 80px;
    width: 100%;
    /* background-color: rgb(218, 172, 172); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #dadada;

}


.nav-part2 {
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
    align-items: center;


}

.nav h1 {
    font-size: 2vw;
    font-weight: 700;
    border: 2PX solidVWHITE;
    background-color: black;
    color: WHITE;
}

.nav-part2 h4 {
    font-size: 1vw;
    padding: 0 5vw;
}

.nav-part2 i {
    font-size: 1.2vw;
    display: none;
}

.nav-part2 BUTTON {
    background-color: lightseagreen;
    color: WHITE;
    font-size: 1.6VW;
    border-radius: 3px;
}

.container {
    height: 80%;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    position: relative;
}

.left {
    height: 100%;
    width: 50%;
    /* background-color: blueviolet; */
    padding: 0 5vw;
}

.left h1 {
    font-size: 4vw;
    line-height: 4vw;
}

.right {
    height: 100%;
    width: 50%;
}

/* background-color: rgb(7, 6, 7);} */
.left h1 span {
    color: yellow;
}

.left p {
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 3vw;
    margin-bottom: 4vw;
}

.container BUTTON {
    padding: 1vw 3vw;
    background-color: lightseagreen;
    color: WHITE;
    border-radius: 10px;
}


@media (max-width:600px) {
    .nav {
        /* background-color: lightgreen; */

    }

    .nav h1 {
        font-size: 6vw;
    }

    .nav-part2 h4 {
        font-size: small;
        display: none;
    }

    .nav button {
        display: none;
    }

    .nav i {
        display: block;
        font-size: 6vw;
    }
    .container{width: 100%;
    height: 100%;}
    .right{flex-direction: column;
    height: 100%;
width: 100%;}
}